<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Latest From Blog
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="/images/b1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6 class="blog_date">
                            29 July 2020
                        </h6>
                        <h5>
                            Molestiae ad reiciendis dignissimos
                        </h5>
                        <p>
                            Dicta nobis, aperiam fugiat ea, vitae aliquid unde quidem soluta provident enim harum aliquam veniam vel veritatis, voluptates perspiciatis adipisci ullam architecto! Repudiandae id repellat reiciendis dignissimos quasi voluptas!
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="/images/b2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6 class="blog_date">
                            30 July 2020
                        </h6>
                        <h5>
                            Dolores vel maiores voluptatem enim
                        </h5>
                        <p>
                            Dicta nobis, aperiam fugiat ea, vitae aliquid unde quidem soluta provident enim harum aliquam veniam vel veritatis, voluptates perspiciatis adipisci ullam architecto! Repudiandae id repellat reiciendis dignissimos quasi voluptas!
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>