@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section stylecss{
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"   />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true"   />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true"   />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true"   />
    <!--Awesome Icons style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
@*@page*@
<div class="container">


    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="text" id="input" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~js/chat.js"></script>